NEXT_PUBLIC_SUPABASE_URL=https://ulrgyupbhkmuzrcpzaov.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_RdVPN_xVcquZFhuXlZmKvg_KgRBSHkX
SUPABASE_SERVICE_ROLE_KEY=sb_secret_Hy3XWLYM1eteq7dHK4IqLA_pDx2wzG8
